@model SFCTest.Models.StationGroup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StationGroup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.STATION_GROUP_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATION_GROUP_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPTION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDStationGroup }) |
    @Html.ActionLink("Back to List", "Index")
</p>
