@model IEnumerable<SFCTest.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductModel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Url.Action("Index","RoutingGroups",  new { id = item.IDProduct })">
                @Html.DisplayFor(modelItem => item.ProductModel) 
            </a>           
            
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.IDProduct }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IDProduct }) |

        </td>
    </tr>
}

</table>
