@model SFCTest.Models.RoutingGroup

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RoutingGroup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.ProductModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StationGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StationGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PassGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FailGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FailGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Delete" class="btn btn-default" /> |
    @Html.ActionLink("Back to List", "Index", new { id = Model.IDProduct })
</div>
    }
</div>
