@model IEnumerable<SFCTest.Models.RoutingGroup>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductModel)
        </th>
        <th>
            @Html.DisplayName("Station")
        </th>
        <th>
            @Html.DisplayName("StationPass")
        </th>
        <th>
            @Html.DisplayName("StationFail")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
         <td>
            @Html.DisplayFor(modelItem => item.Product.ProductModel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Station.STATION_GROUP_CODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PassStation.STATION_GROUP_CODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FailStation.STATION_GROUP_CODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDRoutingStation }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDRoutingStation }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDRoutingStation })
        </td>
    </tr>
}

</table>
